<?xml version="1.0"?>
<config>
	<modules>
		<RicoNeitzel_PaymentFilter>
			<version>0.1.3</version>
			<depends>
				<Mage_Payment />
				<Mage_Customer />
			</depends>
		</RicoNeitzel_PaymentFilter>
	</modules>
	<global>
		<models>
			<payfilter>
				<class>RicoNeitzel_PaymentFilter_Model</class>
			</payfilter>
			<customer_entity>
				<rewrite>
					<group>RicoNeitzel_PaymentFilter_Model_Entity_Customer_Group</group>
				</rewrite>
			</customer_entity>
		</models>
        <resources>
            <payfilter_setup>
				<setup>
					<module>RicoNeitzel_PaymentFilter</module>
					<class>RicoNeitzel_PaymentFilter_Model_Entity_Setup</class>
				</setup>
				<connection>
					<use>default_setup</use>
				</connection>
            </payfilter_setup>
            <payfilter_write>
                <use>default_write</use>
            </payfilter_write>
            <payfilter_read>
                <use>default_read</use>
            </payfilter_read>
        </resources>
        <helpers>
			<payfilter>
				<class>RicoNeitzel_PaymentFilter_Helper</class>
			</payfilter>
			<payment>
				<rewrite>
					<data>RicoNeitzel_PaymentFilter_Helper_Payment</data>
				</rewrite>
			</payment>
        </helpers>
        <blocks>
        	<adminhtml>
        		<rewrite>
        			<customer_group_edit_form>RicoNeitzel_PaymentFilter_Block_Adminhtml_Group_Form</customer_group_edit_form>
        		</rewrite>
        	</adminhtml>
        </blocks>
	</global>
	
	<adminhtml>
        <translate>
            <modules>
                <RicoNeitzel_PaymentFilter>
                     <files>
                          <default>RicoNeitzel_PaymentFilter.csv</default>
                     </files>
                </RicoNeitzel_PaymentFilter>
            </modules>
        </translate>
        <events>

        	<customer_group_save_before>
        		<observers>
        			<payfilter>
        				<type>singleton</type>
        				<class>payfilter/observer</class>
        				<method>customerGroupSaveBeforeEvent</method>
        			</payfilter>
        		</observers>
        	</customer_group_save_before>
        	<core_abstract_save_before>
        		<observers>
        			<payfilter>
        				<type>singleton</type>
        				<class>payfilter/observer</class>
        				<method>coreAbstractSaveBeforeEvent</method>
        			</payfilter>
        		</observers>
        	</core_abstract_save_before>
        </events>
	</adminhtml>

	<default>
		<checkout>
			<payfilter>
				<disable_ext>0</disable_ext>
			</payfilter>
		</checkout>
	</default>

</config>
